.background {
    background: url(../assets/img/background.avif) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.create-profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.create-profile-card {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
}


.create-profile-form-container {
    width: 50%;
    padding: 50px;
}


.create-profile-right-section {
    width: 50%;
    background: linear-gradient(135deg, #1f2530, #3b4a5a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}


.create-profile-right-section h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.create-profile-logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
    display: block;
    max-width: 100%;
}

.create-profile-form-group {
    margin-bottom: 20px;
}

.create-profile-form-label {
    font-weight: bold;
    font-size: 1.1rem;
}

.create-profile-form-control {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f8f9fa;
}

.create-profile-btn {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: black;
}

.create-profile-btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.create-profile-btn:active {
    transform: scale(0.95);
}


@media (max-width: 768px) {
    .create-profile-right-section {
        display: none !important;
    }


    .create-profile-form-container {
        width: 100% !important;
    }

    .create-profile-card {
        flex-direction: column;
    }
}
