.dashboard.container {
    background: url(../assets/img/background.avif) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}