.hero-section {
    background: url(../assets/img/background.avif) no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before {
    background-color: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section, .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}


.btn-primary{
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background-color: white;
    color: black;
}

.btn-primary:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.btn-primary:active {
    transform: scale(0.95);
}

/*boton registrarse*/
.btn-outline-register {
    background-color: #1b304b;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-outline-register:hover {
    background-color: #6592b8;
    transform: scale(1.05);
}

.btn-outline-register:active {
    transform: scale(0.95);
}


