/* Fondo de la sección */
.hero-section {
    background: url(../assets/img/background.avif) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh; /* Asegura que cubra toda la pantalla */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 80px; /* Ajuste para evitar que la navbar la cubra */
}

/* Capa oscura sobre la imagen */
.hero-section::before {
    background-color: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* Contenedor dentro de HeroSection */
.hero-section .container {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 900px;
    padding: 20px;
}

/* Botones */
.btn-primary {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: black;
}

.btn-primary:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.btn-primary:active {
    transform: scale(0.95);
}

/* Botón Registrarse */
.btn-outline-register {
    background-color: #1b304b;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-outline-register:hover {
    background-color: #6592b8;
    transform: scale(1.05);
}

.btn-outline-register:active {
    transform: scale(0.95);
}

/* Ajustes responsivos */
@media (max-width: 991px) {
    .hero-section {
        padding-top: 100px; /* Más espacio en móviles */
    }

    .hero-section h1 {
        font-size: 1.8rem;
    }

    .hero-section h2 {
        font-size: 1rem;
        padding: 0 15px;
    }

    .btn-primary, .btn-outline-register {
        width: 100%; /* Los botones ocupan todo el ancho en móviles */
        margin-top: 10px;
    }
}
