.hero-section {
    background: url(../assets/img/background.avif) no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before {
    background-color: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section, .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

