.background-login {
    background: url('../assets/img/background.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card-position {
    padding-bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    max-height: 50%;
}
