@font-face {
  font-family: 'ANKISH';
  src: url('./assets/Font/ANKISH-V2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#root {
  font-family: 'ANKISH', Arial, sans-serif;
}


h1, h2, p {
  font-family: 'ANKISH', Arial, sans-serif;
  color: #333;
}